<table>
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Age</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td>
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td>
    <td>94</td>
  </tr>
  <tr>
    <td>John</td>
    <td>Doe</td>
    <td>80</td>
  </tr>
  <tr>
    <td>Julia</td>
    <td>Watson</td>
    <td>76</td>
  </tr><tr>
    <td>Nickolas</td>
    <td>Wilson</td>
    <td>45</td>
  </tr><tr>
    <td>Maria</td>
    <td>Didriff</td>
    <td>82</td>
  </tr>
</table>
